@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* Website inspiration https://viamsterdam.com/our-services/
* Palett
* https://palette.site/palette?id=647a806b6185cb706c1024c1
* https://viamsterdam.com/our-work/
*
*FontJoy
*bg #222222
 *h1 Alegreya, color #cccccc
 *h2 Roboto_Slab, #bbbbbb
 *text Nunito_Sans, #9b9b9b
*
* bg #eeeeee
* h1 Alegreya, color #111111
* h2 Roboto_Slab, #222222
* text Nunito_Sans, #515151
*
*button color #666666
 *button text color #ffffff
*
 *font and colors for links and rest 
 *Mulish #dddddd #aaaaaa 
 *fint-weigt string
**/

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
